@page "/subs"
@using BlazorAthenaFrontend.Data
@inject SubCategoryService scs
<PageTitle>sub test</PageTitle>


<p>This component demonstrates fetching data from a service.</p>

@if (subs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sub in subs)
            {
                <tr>
                    <td>@sub.ID</td>
                    <input type="text" @bind="@sub.Name" />
                    <button @onclick="@(e => Edit(@sub.ID, @sub.Name))">Save</button>
                    <button @onclick="@(e => Del(@sub.ID))">Delete</button>
                </tr>
            }
            <div>
                <button @onclick="ToggleDropdown">Add new...</button>
                @if (showInput)
                {
                    <form onsubmit="@Create">
                        <input type="text" @bind="newEntityName" />
                        <button type="submit">Create New</button>
                    </form>
                }
            </div>
        </tbody>
    </table>
}

@code {
    public string newEntityName = "";
    public bool showInput = false;
    public void ToggleDropdown() => showInput = true;

    public async Task RefreshComponent()
    {
        StateHasChanged();
    }

    public async void Create()
    {
        scs.CreateSubCategory(newEntityName);
    }

    public async void Submit()
    {
        var subs = await scs.GetSubCategoryAsync();
        foreach(var sub in subs)
        {
            Console.WriteLine(sub.Name);
        }
    }

    public async void Del(int id)
    {
        scs.DeleteSubCategory(id);
        InvokeAsync(RefreshComponent);
    }
    public void Edit(int id, string newName)
    {
        scs.EditSubCategory(id, newName);
    }

 
    private SubCategory[]? subs;

    protected override async Task OnInitializedAsync()
    {
        subs = await scs.GetSubCategoryAsync();
    }
}
