@page "/checkout"
@using BlazorAthenaFrontend.Services
@using BlazorAthenaFrontend.Models
@inject CartService CartService

<h3>Checkout</h3>
<h3>You have @CartService.SelectedProducts.Count item(s) in your cart:</h3>

@foreach (var productGroup in CartService.SelectedProducts.GroupBy(p => p.Name))
{
    int amountOfItems = 0;

    @foreach (var product in productGroup)
    {
        amountOfItems++;
    }

    <div>
        <div>
            @productGroup.First().Name á @productGroup.First().Price SEK
        </div>
        <div>
            Amount: @amountOfItems
        </div>
        <div>
            Total Price: @productGroup.Sum(p => p.Price) SEK
        </div>
        <button style="background-color: darkolivegreen; color: white;" @onclick="() => AddProduct(productGroup.First())">+</button>
        <button style="background-color: darkred; color: white;" @onclick="() => RemoveProduct(productGroup.First())">-</button>
    </div>

    <hr />
}

@code {
    double totalAmount = 0;
    bool orderPlaced = false; //will check if the button "place order" has been clicked
    DateTime timeStamp;
    int currentUser; // will be used to store which user have made the purchase

    private void CalculateTotalAmount()
    {
        totalAmount = CartService.SelectedProducts.Sum(p => p.Price);
    }

    private void AddProduct(Product product)
    {
        CartService.SelectedProducts.Add(product);
        CalculateTotalAmount(); // Recalculate the total amount
    }


    private void RemoveProduct(Product product)
    {
        CartService.SelectedProducts.Remove(product);
        CalculateTotalAmount(); 
    }

    protected override void OnInitialized()
    {
        CalculateTotalAmount();
        base.OnInitialized();
    }

    private void PlaceOrder()
    {
        orderPlaced = true;
        timeStamp = DateTime.Now; //This variable will check against the db and send "receipt" to user if order has been approved
        currentUser = 1; //will change depending on user ofc

    }

}

<h3>Total amount: @totalAmount SEK</h3>

<p>Add comment to the kitchen (optional)</p>
<textarea id="userInputSummary" rows="4" cols="50" style="resize: none;"></textarea>
<br/>
@if (orderPlaced)
{
    <i style="color: red">Waiting for approval. Order can still be altered.</i>
    <br/>
    <i>You placed your order at @timeStamp</i>
}
<br/>

<button style="background-color: purple; color: white;" @onclick="PlaceOrder">Place order</button>

